Repository SSAFYnity/Job-Preparation-Challenge-3rd, pull requests merged in 2024-12, with the labels that each got.

#139 solved 소수구하기 - 1184ms 31900kb
  Baekjoon/소수구하기/소수구하기_강민정.java
Labels: Easy, Java

#148 solved 메뉴리뉴얼 - 32.42ms 87.8mb
  Programmers/메뉴리뉴얼/메뉴리뉴얼_강민정.java
Labels: Java, Nomal

#157 solved 회의실배정 - 556ms 48360kb
  Baekjoon/회의실배정/회의실배정_강민정.java
Labels: Easy, Java

#167 solved 다단계칫솔판매 - 39.46ms 125mb
  Programmers/다단계칫솔판매/다단계칫솔판매_강민정.java
Labels: Java, Nomal

#176 solved 파티 - 152ms 16996kb
  Baekjoon/파티/파티_강민정.java
Labels: Java, Nomal

#183 solved 리틀프렌즈사천성 - 52.86ms 94.7mb
  Programmers/리틀프렌즈사천성/리틀프렌즈사천성_강민정.java
Labels: Hard, Java

#161 solved 메뉴리뉴얼 - 4759.42ms 452MB
  Programmers/메뉴리뉴얼/메뉴리뉴얼_조연주.cpp
Labels: C++, Nomal

#168 solved 회의실배정 - 24ms 3688kb
  Baekjoon/회의실배정/회의실배정_조연주.cpp
Labels: C++, Easy

#179 solved 파티 - 128ms 2168kb
  Baekjoon/파티/파티_조연주.cpp
Labels: C++, Easy

#205 solved 포도주시식 - 124ms 14.908mb
  Baekjoon/포도주시식/포도주시식_허승경.java
Labels: Hard, Java

#226 solved 파도반 수열 - 68ms 11.5mb
  Baekjoon/파도반수열/파도반수열_옥수빈.java
Labels: Easy, Java

#206 solved 로봇 청소기 - 112MB 14548KB
  Baekjoon/로봇청소기/로봇청소기_강정훈.java
Labels: Java, Nomal

#198 solved 포도주시식 - 0ms 2452kb
  Baekjoon/포도주시식/포도주시식_조연주.cpp
Labels: C++, Easy

#202 solved 로봇청소기 - 0ms 2156kb
  Baekjoon/로봇청소기/로봇청소기_조연주.cpp
Labels: C++, Easy

#220 solved 인사고과 - 94.77ms 131mb
  Programmers/인사고과/인사고과_이호찬.java
Labels: Hard, Java

#191 solved 포도주시식 - 92ms 13696kb
  Baekjoon/포도주시식/포도주시식_이호찬.java
Labels: Easy, Java

#240 solved 계단오르기 - 100ms 14.272mb
  Baekjoon/계단오르기/허승경_계단오르기.java
Labels: Hard, Java

#236 solved 계단 오르기 - 64ms 11.6mb
  Baekjoon/계단오르기/계단오르기_옥수빈.java
Labels: Easy, Java

#249 solved 괄호 회전하기 - 50.88ms 91.3mb
  Programmers/괄호회전하기/괄호회전하기_옥수빈.java
Labels: Java, Nomal

#254 solved 제곱ㄴㄴ수 - 108ms 12.6mb
  Baekjoon/제곱ㄴㄴ수/제곱ㄴㄴ수_옥수빈.java
Labels: Easy, Java

#243 solved 파도반수열 - 116ms 14.58mb
  Baekjoon/파도반수열/파도반수열_허승경.java
Labels: Java, Nomal

#212 solved GPS - 48.36ms 81MB
  Programmers/GPS/GPS_강정훈.java
Labels: Hard, Java

#217 solved 금과 은 운바나기 - 191.37ms 124MB
  Programmers/금과은운반하기/금과은운반하기_강정훈.java
Labels: Hard, Java

#233 solved 파도반 수열 - 108ms 14140KB
  Baekjoon/파도반수열/파도반수열_강정훈.java
Labels: Easy, Java

#196 solved 로봇청소기 - 68ms 11852KB
  Baekjoon/로봇청소기/로봇청소기_최지수.java
Labels: Easy, Java

#203 solved 금과은운반하기 - 128.36ms 95.6MB
  Programmers/금과은운반하기/금과은운반하기_최지수.java
Labels: Java, Nomal

#208 solved gps - 148.63ms 89.5MB
  Programmers/GPS/GPS_최지수.java
Labels: Hard, Java

#214 solved 포도주시식 - 88ms 13376KB
  Baekjoon/포도주시식/포도주시식_최지수.java
Labels: Easy, Java

#215 solved 인사고과 - 111.46ms 112MB
  Programmers/인사고과/인사고과_최지수.java
Labels: Java, Nomal

#227 solved 계단오르기 - 128ms 13304KB
  Baekjoon/계단오르기/계단오르기_최지수.java
Labels: Easy, Java

#241 solved 파도반수열 - 88ms 11604KB
  Baekjoon/파도반수열/파도반수열_최지수.java
Labels: Easy, Java

#245 solved 당구연습 - 0.80ms 87.5MB
  Programmers/당구연습/당구연습_최지수.java
Labels: Easy, Java

#256 solved 시소짝꿍 - 43.29ms 97MB
  Programmers/시소짝꿍/시소짝꿍_최지수.java
Labels: Easy, Java

#259 solved 괄호회전하기 - 59.62ms 101MB
  Programmers/괄호회전하기/괄호회전하기_최지수.java
Labels: Easy, Java

#16 solved 배열복원하기 - 244ms 21568kb
  .metadata/.lock
  .metadata/.mylyn/repositories.xml.zip
  .metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
  .metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
  .metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
  .metadata/.plugins/org.eclipse.core.resources/.root/1.tree
  .metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
  .metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
  .metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
  .metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
  .metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
  .metadata/.plugins/org.eclipse.jdt.core/index.db
  .metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
  .metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
  .metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
  .metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
  .metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.9.1.20180912-1601.xml
  .metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
  .metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
  .metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
  .metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
  .metadata/.plugins/org.eclipse.ui.intro/introstate
  .metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
  .metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
  .metadata/version.ini
  Baekjoon/배열복원하기/input.txt
  Baekjoon/배열복원하기/배열복원하기_김지환.js
Labels: Easy, JavaScript

#75 김지환 감시피하기
  Baekjoon/감시피하기/test.txt
Labels: JavaScript, Nomal

#152 solved 소수구하기 2612ms 28322KB
  Baekjoon/소수구하기/소수구하기_김지환.js
Labels: Easy, JavaScript

#163 solved 회의실배정 - 388ms 4.4MB
  Baekjoon/회의실배정/회의실배정_김지환.js
Labels: Easy, JavaScript

#172 solved 다단계칫솔판매 - 45.21ms 49.4MB
  Programmers/다단계칫솔판매/다단계칫솔판매_김지환.js
Labels: JavaScript, Nomal

#230 solved 계단오르기 - 96ms 9364KB
  Baekjoon/계단오르기/김지환_계단오르기.js
Labels: Easy, JavaScript

#211 solved 포도주시식 - 96ms 10184KB
  Baekjoon/포도주시식/김지환_포도주시식.js
Labels: Easy, JavaScript

#269 sovled 숨바꼭질 - 96ms 16.24mb
  Baekjoon/숨바꼭질/숨바꼭질_옥수빈.java
Labels: Easy, Java

#162 solved 파티 - 0ms 2.3mb
  Baekjoon/파티/파티_조은영.cpp
Labels: C++, Nomal

#166 solved 메뉴리뉴얼 - 2.08ms 4.21mb
  Programmers/메뉴리뉴얼/메뉴리뉴얼_조은영.cpp
Labels: C++, Nomal

#181 solved 다단계칫솔판매 - 108ms 19.9mb
  Programmers/다단계칫솔판매/다단계칫솔판매_조은영.cpp
Labels: C++, Easy

#192 solved 포도주시식 - 4ms 2.6mb
  Baekjoon/포도주시식/포도주시식_조은영.cpp
Labels: C++, Easy

#229 solved 계단오르기 - 0ms 2mb
  Baekjoon/계단오르기/계단오르기_조은영.cpp
Labels: C++, Easy

#194 solved 포도주시식 - 220ms 25392kb
  Baekjoon/포도주시식/포도주시식_강민정.java
Labels: Java, Nomal

#204 solved 인사고과 - 120.62ms 115mb
  Programmers/인사고과/인사고과_강민정.java
Labels: Easy, Java

#209 solved 로봇청소기 - 72ms 11904kb
  Baekjoon/로봇청소기/로봇청소기_강민정.java
Labels: Easy, Java

#213 solved 금과은운반하기 - 137.04ms 122mb
  Programmers/금과은운반하기/금과은운반하기_강민정.java
Labels: Hard, Java

#225 solved 계단오르기 - 104ms 13232kb
  Baekjoon/계단오르기/계단오르기_강민정.java
Labels: Easy, Java

#234 solved 당구연습 - 0.66ms 75.7mb
  Programmers/당구연습/당구연습_강민정.java
Labels: Java, Nomal

#244 solved 파도반수열 - 104ms 12992kb
  Baekjoon/파도반수열/파도반수열_강민정.java
Labels: Easy, Java

#255 solved 괄호회전하기 - 52.23ms 94.2mb
  Programmers/괄호회전하기/괄호회전하기_강민정.java
Labels: Easy, Java

#260 solved 술래잡기 - 168ms 13mb
  CodeTree/술래잡기/술래잡기_강민정.java
Labels: Hard, Java

#246 solved 당구연습 - 0.93ms 98.6mb
  Programmers/당구연습/당구연습_이호찬.java
Labels: Easy, Java

#257 solved 괄호회전하기 - 41.40ms 92.9mb
  Programmers/괄호회전하기/괄호회전하기_이호찬.java
Labels: Easy, Java

#276 solved 혼자 놀기의 달인 - 0.53ms 84.2mb
  Programmers/혼자놀기의달인/혼자놀기의달인_옥수빈.java
Labels: Easy, Java

#277 solved 문자열압축 0.81ms 33.8mb
  Programmers/문자열압축/문자열압축_김지환.js
Labels: JavaScript, Nomal

#273 solved 괄호 - 108ms 9664KB
  Baekjoon/괄호/test.txt
  Baekjoon/괄호/괄호_김지환.js
Labels: Easy, JavaScript

#250 solved 계단 오르기 - 112ms 14208KB
  Baekjoon/계단오르기/강정훈_계단오르기.java
Labels: Easy, Java

#253 solved 시소 짝꿍 - 47.56ms 105MB
  Programmers/시소짝꿍/시소짝꿍_강정훈.java
Labels: Java, Nomal

#283 solved 스택 수열 - 33.048mb 372ms
  Baekjoon/스택수열/스택수열_옥수빈.java
Labels: Easy, Java

#287 solved 스택수열 - 296ms 26.916mb
  Baekjoon/스택수열/스택수열_허승경.java
Labels: Easy, Java

#288 solved 숨바꼭질 - 172ms 24928KB
  Baekjoon/숨바꼭질/숨바꼭질_강정훈.java
Labels: Easy, Java

#268 solved 혼자 놀기의 달인 - 1.40ms 94MB
  Programmers/혼자놀기의달인/혼자놀기의달인_강정훈.java
Labels: Easy, Java

#274 solved 스택 수열 - 296ms 27216KB
  Baekjoon/스택수열/스택수열_강정훈.java
Labels: Easy, Java

#280 solved 행렬과 연산 - 96.32ms 114MB
  Programmers/행렬과연산/행렬과연산_강정훈.java
Labels: Hard, Java

#290 solved 괄호 - 76ms 11.692mb
  Baekjoon/괄호/괄호_옥수빈.java
Labels: Easy, Java

#270 solved 숨바꼭질 - 240ms 36344KB
  Baekjoon/숨바꼭질/숨바꼭질_최지수.java
Labels: Easy, Java

#272 solved 괄호 - 112ms 13444kb
  Baekjoon/괄호/괄호_강민정.java
Labels: Easy, Java

#278 solved 문자열압축 - 18.05ms 93.1mb
  Programmers/문자열압축/문자열압축_강민정.java
Labels: Easy, Java

#281 solved 스택수열 - 720ms 101360kb
  Baekjoon/스택수열/스택수열_강민정.java
Labels: Java, Nomal

#292 solved 혼자놀기의달인 - 1.09ms 86.8mb
  Programmers/혼자놀기의달인/혼자놀기의달인_강민정.java
Labels: Easy, Java

#294 solved 숨바꼭질 - 128ms 17412kb
  Baekjoon/숨바꼭질/숨바꼭질_강민정.java
Labels: Java, Nomal

#291 solved 혼자놀기의달인 - 0.21ms 33.4MB
  Baekjoon/혼자놀기의달인/혼자놀기의달인_김지환.js
Labels: JavaScript, Nomal

#293 solved 숨바꼭질 - 160ms 11464KB
  Baekjoon/숨바꼭질/숨바꼭질_김지환.js
Labels: JavaScript, Nomal
