Repository SSAFYnity/Job-Preparation-Challenge-3rd, pull requests merged in 2024-11, with the labels that each got.

#8 solved 배열복원하기 - 408ms 40316kb
  Baekjoon/배열복원하기/배열복원하기_서민주.java
Labels: Java, Nomal

#11 solved 트럭 - 120ms 15.464mb
  Baekjoon/트럭/트럭_김수빈.java
Labels: Easy, Java

#9 solved 배열복원하기 - 24ms 3740kb
  Baekjoon/배열복원하기/배열복원하기_조연주.cpp
Labels: C++, Easy

#50 solved 감시피하기 - 184ms 20440KB
  Baekjoon/감시피하기/감시피하기_강정훈.java
Labels: Java, Nomal

#58 solved 트럭 - 116ms 14452KB
  Baekjoon/트럭/트럭_강정훈.java
Labels: Easy, Java

#35 solved 트럭 - 112ms 12192kb
  Baekjoon/트럭/트럭_조연주.java
Labels: Java, Nomal

#43 solved 배열복원하기 - 1068ms 58.408mb
  Baekjoon/배열복원하기/배열복원하기_김수빈.java
Labels: Easy, Java

#15 solved 감시피하기 - 108ms 14284kb
  Baekjoon/감시피하기/감시피하기_서은진.java
Labels: Java, Nomal

#25 solved 배열복원하기 - 404ms 40420kb
  Baekjoon/배열복원하기/배열복원하기_서은진.java
Labels: Java, Nomal

#57 solved 감시피하기 - 72ms 11892kb
  Baekjoon/감시피하기/조연주_감시피하기
Labels: Java, Nomal

#62 solved 감시 피하기 - 124ms 15.376mb
  Baekjoon/감시피하기/감시피하기_김수빈.java
Labels: Java, Nomal

#66 solved 숫자타자대회 - 878.96ms 441mb
  Programmers/숫자타자대회/숫자타자대회_김수빈.java
Labels: Java, Nomal

#14 solved 감시피하기 - 68ms 12.34mb
  Baekjoon/감시피하기/감시피하기_옥수빈.java
Labels: Easy, Java

#87 solved 컨베이어벨트위의로봇 - 684ms 160.444mb
  Baekjoon/컨베이어벨트위의로봇/컨베이어벨트위의로봇_옥수빈.java
Labels: Easy, Java

#69 solved 배열복원하기- 456 ms 46.172mb
  Baekjoon/배열복원하기/배열복원하기_허승경.java
Labels: Java, Nomal

#70 solved 트럭 - 128ms 15.320mb
  Baekjoon/트럭/트럭_허승경.java
Labels: Java, Nomal

#86 solved 퍼즐 게임 챌린지 - 48.70ms, 161mb
  Programmers/퍼즐게임챌린지/퍼즐게임챌린지_김수빈.java
Labels: Easy, Java

#102 solved 컨베이어 벨트위의 로봇 - 384ms 219.660mb
  Baekjoon/컨베이어벨트위의로봇/컨베이어벨트위의로봇_김수빈.java
Labels: Easy, Java

#27 solved 배열복원하기 - 388ms 51944kb
  Baekjoon/배열복원하기/배열복원하기_이호찬.java
Labels: Easy, Java

#28 solved 트럭 - 76ms 12004kb
  Baekjoon/트럭/트럭_이호찬.java
Labels: Easy, Java

#36 solved 감시피하기 - 72ms 12812kb
  Baekjoon/감시피하기/감시피하기_이호찬.java
Labels: Easy, Java

#85 solved 퍼즐게임챌린지 - 42.72ms 144MB
  Programmers/퍼즐게임챌린지/퍼즐게임챌린지_강정훈.java
Labels: Java, Nomal

#99 solved 컨베이어벨트위의로봇 - 328ms 76572KB
  Baekjoon/컨베이어벨트위의로봇/컨베이어벨트위의로봇_강정훈.java
Labels: Java, Nomal

#71 solved 감시피하기 - 116ms 14.5mb
  Baekjoon/감시피하기/감시피하기_허승경.java
Labels: Java, Nomal

#93 solved 퍼즐게임챌린지 - 43.10ms 131mb
  Programmers/퍼즐게임챌린지/퍼즐게임챌린지_신유진.java
Labels: Easy, Java

#107 solved 스타수열 - 27.45ms 115mb
  Programmers/스타수열/스타수열_신유진.java
Labels: Java, Nomal

#122 solved 로봇 조종하기 - 564ms 90216kb
  Baekjoon/로봇조종하기/로봇조종하기_신유진.java
Labels: Hard, Java

#12 solved 배열복원하기 - 1560ms 265284kb
  Baekjoon/배열복원하기/배열복원하기_강민정.java
Labels: Easy, Java

#29 solved 트럭 - 148ms 17552kb
  Baekjoon/트럭/트럭_강민정.java
Labels: Java, Nomal

#59 solved 감시피하기 - 96ms 12900kb
  Baekjoon/감시피하기/감시피하기_강민정.java
Labels: Easy, Java

#64 solved 아방가르드타일링 - 6.24ms 77.6mb
  Programmers/아방가르드타일링/아방가르드타일링_강민정.java
Labels: Hard, Java

#88 solved 퍼즐게임챌린지 - 10.86ms 23.6MB
  Programmers/퍼즐게임챌린지/퍼즐게임챌린지_조연주.cpp
Labels: C++, Easy

#94 solved 미네랄2 - 20ms 2040kb
  Baekjoon/미네랄2/미네랄2_조연주.cpp
Labels: C++, Nomal

#109 solved 로봇조종하기 - 136ms 18864kb
  Baekjoon/로봇조종하기/로봇조종하기_조연주.cpp
Labels: C++, Hard

#101 solved 퍼즐게임챌린지 - 46.35ms 121mb
  Programmers/퍼즐게임챌린지/퍼즐게임챌린지_허승경.java
Labels: Easy, Java

#108 solved 로봇조종하기 - 560ms 100.212mb
  Baekjoon/로봇조종하기/로봇조종하기_허승경.java
Labels: Hard, Java

#112 solved 스타수열 - 156.32ms 147mb
  Programmers/스타수열/스타수열_허승경.java
Labels: Hard, Java

#119 solved 컨베이어벨트위의로봇 - 76ms 2032kb
  Baekjoon/컨베이어벨트위의로봇/컨베이어벨트위으로봇_조연주.cpp
Labels: C++, Easy

#182 solved 파티 - 140ms 17252kb
  Baekjoon/파티/파티_이호찬.java
Labels: Java, Nomal

#174 solved 회의실배정 - 396ms 41900kb
  Baekjoon/회의실배정/회의실배정_이호찬.java
Labels: Easy, Java

#171 solved 메뉴리뉴얼 - 6.15ms 91.7mb
  Programmers/메뉴리뉴얼/메뉴리뉴얼_이호찬.java
Labels: Java, Nomal

#136 solved 소수구하기 - 192ms 21416kb
  Baekjoon/소수구하기/소수구하기_이호찬.java
Labels: Easy, Java

#135 solved 소수구하기 - 276ms 23.564mb
  Baekjoon/소수구하기/소수구하기_허승경.java
Labels: Easy, Java

#137 solved 회의실배정 - 476ms 44.644mb
  Baekjoon/회의실배정/회의실배정_허승경.java
Labels: Easy, Java

#17 solved 배열복원하기 - 28ms 3.4mb
  Baekjoon/배열복원하기/배열복원하기_조은영.cpp
Labels: C++, Easy

#55 solved 트럭 - 0ms 2.4mb
  Baekjoon/트럭/트럭_조은영.cpp
Labels: C++, Nomal

#124 solved 퍼즐게임챌린지 - 38.52ms 138mb
  Programmers/퍼즐게임챌린지/퍼즐게임챌린지_조은영.java
Labels: Easy, Java

#123 solved 스타수열 - 9.58ms 22.8mb
  Programmers/스타수열/스타수열_조은영.cpp
Labels: C++, Hard

#138 solved 소수구하기 - 160ms 2mb
  Baekjoon/소수구하기/소수구하기_조은영.cpp
Labels: C++, Easy

#151 solved 회의실배정 - 96ms 5.1mb
  Baekjoon/회의실배정/회의실배정_조은영.cpp
Labels: C++, Nomal

#132 solved 회의실 배정 - 604ms 55.292mb
  Baekjoon/회의실배정/회의실배정_김수빈.java
Labels: Java, Nomal

#145 solved 메뉴 리뉴얼 - 26.85ms 96.3mb
  Programmers/메뉴리뉴얼/메뉴리뉴얼_김수빈.java
Labels: Easy, Java

#165 solved 소수 구하기 - 1028ms 31.076mb
  Baekjoon/소수구하기/소수구하기_김수빈.java
Labels: Easy, Java

#195 solved 다단계 칫솔 판매 - 19.19ms 145mb
  Programmers/다단계칫솔판매/다단계칫솔판매_김수빈.java
Labels: Java, Nomal

#74 solved 2개의사탕 - 613ms 48mb
  CodeTree/2개의사탕/2개의사탕_강민정.java
Labels: Hard, Java

#89 solved 퍼즐게임챌린지 - 72.43ms 137mb
  Programmers/퍼즐게임챌린지/퍼즐게임챌린지_강민정.java
Labels: Easy, Java

#100 solved 컨베이어벨트위의로봇 - 1676ms 23432kb
  Baekjoon/컨베이어벨트위의로봇/컨베이어벨트위의로봇_강민정.java
Labels: Java, Nomal

#111 solved 양과늑대 - 3.28ms 86mb
  Programmers/양와늑대/양과늑대_강민정.java
Labels: Hard, Java

#115 solved 스타수열 - 42.29ms 125mb
  Programmers/스타수열/스타수열_강민정.java
Labels: Java, Nomal

#121 solved 코드트리메신저 - 1469ms 54mb
  CodeTree/코드트리메신저/코드트리메신저_강민정.java
Labels: Hard, Java

#141 solved 소수구하기 - 676ms 30244kb
  Baekjoon/소수구하기/소수구하기_조연주.java
Labels: Easy, Java

#150 solved 다단계칫솔판매 - 23.94ms 126MB
  Programmers/다단계칫솔판매/다단계칫솔판매_조연주.java
Labels: Java, Nomal

#177 solved 메뉴리뉴얼 - 35.25ms 90.5mb
  Programmers/메뉴리뉴얼/메뉴리뉴얼_허승경.java
Labels: Java, Nomal

#178 solved 파티 - 176ms 18.44mb
  Baekjoon/파티/파티_허승경.java
Labels: Java, Nomal

#117 solved 로봇조종하기 - 588ms 90416KB
  Baekjoon/로봇조종하기/로봇조종하기_강정훈.java
Labels: Hard, Java

#134 solved 메뉴리뉴얼 - 11.98ms 91.1MB
  Programmers/메뉴리뉴얼/메뉴리뉴얼_강정훈.java
Labels: Java, Nomal

#149 solved 소수 구하기 - 620ms 31044KB
  Baekjoon/소수구하기/소수구하기_강정훈.java
Labels: Easy, Java

#116 solved 양과늑대 - 6.62ms 91.7mb
  Programmers/양와늑대/양과늑대_옥수빈.java
Labels: Hard, Java

#133 solved 회의실배정 - 556ms 48.188mb
  Baekjoon/회의실배정/회의실배정_옥수빈.java
Labels: Easy, Java

#147 solved 다단계칫솔판매 - 63.15ms 147mb
  Programmers/다단계칫솔판매/다단계칫솔판매_옥수빈.java
Labels: Easy, Java

#159 solved 파티 - 884ms 113.536mb
  Baekjoon/파티/파티_옥수빈.java
Labels: Java, Nomal

#169 solved 소수 구하기 - 1064ms 32.984mb
  Baekjoon/소수구하기/소수구하기_옥수빈.java
Labels: Easy, Java

#193 solved 인사고과 - 118.09ms 128mb
  Programmers/인사고과/인사고과_옥수빈.java
Labels: Easy, Java

#200 solved 포도주 시식 - 96ms 13.316mb
  Baekjoon/포도주시식/옥수빈_포도주시식.java
Labels: Easy, Java

#207 solved 로봇청소기 - 72ms 11.868mb
  Baekjoon/로봇청소기/로봇청소기_옥수빈.java
Labels: Easy, Java

#10 solved 배열복원하기 - 312ms 42.984MB
  Baekjoon/배열복원하기/배열복원하기_최지수.java
Labels: Easy, Java

#34 solved 트럭 - 76ms 11.936MB
  Baekjoon/트럭/트럭_최지수.java
Labels: Easy, Java

#39 solved 감시피하기 - 64ms 11.604MB
  Baekjoon/감시피하기/감시피하기_최지수.java
Labels: Easy, Java

#54 solved 숫자타자대회 - 316.52ms 157MB
  Programmers/숫자타자대회/숫자타자대회_최지수.java
Labels: Hard, Java

#61 solved 1,2,3떨어뜨리기 - 2.01ms 82.2MB
  Programmers/1,2,3떨어트리기/1,2,3떨어뜨리기_최지수.java
Labels: Java, Nomal

#114 solved 로봇조종하기 - 540ms 96.332MB
  Baekjoon/로봇조종하기/로봇조종하기_최지수.java
Labels: Java, Nomal

#140 solved 파티 - 1396ms 84.244MB
  Baekjoon/파티/파티_최지수.java
Labels: Java, Nomal

#144 solved 다단계칫솔판매 - 24.57ms 137MB
  Programmers/다단계칫솔판매/다단계칫솔판매_최지수.java
Labels: Java, Nomal

#173 solved 소수구하기 - 972ms 39268KB
  Baekjoon/소수구하기/소수구하기_최지수.java
Labels: Easy, Java
